.header{
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    color: rgb(8, 8, 8);
    justify-content: space-evenly;
}

@media only screen and (max-width: 400px) {
    .header{
        display: block;
        margin-bottom: 20px;
        padding: 10px;
        color: rgb(8, 8, 8);
        font-size: 15px;
    }
    .header img{
        width: 200px;
    }
}